// COLORS
$darkBg: #2b303a;
$darkBgSecondary: #92dce5;
$darkText: white;
$lightBg: #eee5e9; // alt : #92dce5
$lightText: $darkBg;
$warningBg: #d64933;
$warningText: white;
$lightVisited: #7c7c7c;

.btn-light {
  background: linear-gradient(145deg, #fff5f9, #d6ced2);
  box-shadow: 5px 5px 8px #5f5c5d, -5px -5px 8px #ffffff;

  &:hover,
  &:focus {
    background: linear-gradient(145deg, #d6ced2, #fff5f9);
  }

  &[disabled] {
    background: #5f5c5d;
    box-shadow: none;
  }
}

.section-light {
  box-shadow: 5px 5px 8px #c3bcbf, -5px -5px 8px #ffffff;
}

.inset-light {
  box-shadow: inset 4px 4px 8px #cac3c6, inset -4px -4px 8px #ffffff;
}

.btn-dark {
  background: linear-gradient(145deg, #2e333e, #272b34);
  box-shadow: 5px 5px 8px #111317, -5px -5px 8px #454d5d;

  &:hover,
  &:focus {
    background: linear-gradient(145deg, #272b34, #2e333e);
  }
}

.section-dark {
  color: $darkText;
  background: $darkBg;
  box-shadow: 5px 5px 8px #242831, -5px -5px 8px #323843;
}

.btn-warning {
  background: linear-gradient(145deg, #e54e37, #c1422e);
  box-shadow: 5px 5px 8px #561d14, -5px -5px 8px #ff7552;

  &:hover,
  &:focus {
    background: linear-gradient(145deg, #c1422e, #e54e37);
  }
}
