@import "./_colors.scss";

#passages {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
  }
}

// titres
h4 {
  display: inline;
}

.light-badge {
  padding: 5px;
  background: white;
  border: 1px solid;
  border-radius: 5px;
  line-height: 2rem;
}

#horaires-title {
  justify-content: center;
  font-size: 1.25rem;
  svg {
    height: 4rem;
  }
}

// schéma de la ligne
.schema {
  align-self: center;
  position: relative;
  list-style-type: none;
  padding: 0;

  // ligne colorée en fond
  & .bg {
    position: absolute;
    display: block;
    border-radius: 5px;
    border: 1px solid;
    width: 8px;
    top: 0;
    bottom: 0;
    // pour qu'il passe sous les markers
    left: 8px;
    z-index: 0;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    // pour qu'ils soient suffisamment gros pour manip
    min-height: 40px;
  }

  label {
    padding: 5px;
    border-radius: 5px;

    &:hover {
      box-shadow: 0px 0px 3px $darkBg;
    }
  }
}

// liste des horaires
.selected {
  background-color: $darkBg;
  color: $darkText;
  box-shadow: 0px 0px 3px $darkBg;
  border-radius: 5px;
  padding: 5px;
}

.time-item {
  // stylisation de la liste (inline)
  &::before {
    content: " - ";
  }
  &:first-of-type::before {
    content: " ";
  }
}

// bouton
#reverse {
  font-size: 1.5rem;
}

// carte
#map-container {
  @extend .section-dark;
  position: fixed;
  width: calc(100vw - 50px);
  height: calc(100vw - 50px);
  right: calc(50px - 100vw);
  top: 20px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (min-width: 700px) {
    // pour éviter que ça déborde en hauteur
    width: calc(100vh - 50px);
    height: calc(100vh - 50px);
    right: calc(50px - 100vh);

    &.minimized {
      width: calc(50vh);
      height: calc(50vh);
      right: calc(-50vh);
    }
  }

  // changements de position / taille
  &.show {
    right: 0;
  }

  transition: 1s ease-out;


  #controls {
    position: absolute;
    left: -40px;
    top: 35%;

    display: flex;
    flex-direction: column;

    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: 4;
    animation-direction: alternate;
  }
}

@keyframes pulse {
  from {left: -40px;}
  to {left: -50px;}
}

#map {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
