@import "./_colors.scss";

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
  }
}

.required::after {
  content: " *";
  color: $warningBg;
}

// étiquettes
#form-help {
  color: $warningBg;
}

label {
  width: 40%;
  text-align: right;
  margin-right: 5px;
}

// liste de suggestions
#dropdown {
  position: relative;

  &:focus-within #dropdown-content {
    display: block;
  }
}

#dropdown-content {
  display: none;

  position: absolute;
  top: 34px;
  width: 100%;
  max-height: 100px;
  overflow: auto;

  background: white;
  border: 1px solid $lightText;
  border-top: none;
}

.dropdown-item {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid;

  &:hover,
  &:focus {
    background: $lightVisited;
    color: white;
  }
}

// RESULTATS
.results-item {
  text-transform: capitalize;
  border-top: 1px solid;
  padding: 5px;
  margin: 5px;
  width: 100%;

  .results-link {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100px;
    height: 80%;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-block: 0;
  padding: 0;
}
