@import "./_colors.scss";

// ACCESSIBILITE
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// PAGE ENTIERE
body {
  min-height: 100vh;

  background: #eee5e9;
  color: #2b303a;
  font-family: sans-serif;

  padding: 0;
  margin: 0;
}

main {
  width: 90%;
  margin-top: 20px;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// LIENS
a {
  color: inherit;
  &:visited {
    color: $lightVisited;
  }
}

// TITRES
h1,
h2,
h3 {
  text-align: center;
}

.long-badge {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-top: 4px;
  margin-bottom: 4px;
}

// HEADER
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fav-section {
  text-align: left;
}

// ICONES
.icon {
  height: 1em;
  flex-shrink: 0;
}

// LOADING
#loading {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 45%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: none;
  }
  to {
    transform: rotate(-359deg);
  }
}

// NAV BARS
nav,
section {
  @extend .section-light;
  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  
  width: 90%;
}

nav a {
  @extend .btn-round, .btn-light;
  font-size: 1.5rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

footer nav {
  width: 100%;
}

header nav {
  flex-direction: row;
}

// sections imbriquées
section section {
  @extend .inset-light;
  display: block;
}

// BANNIERE D'ALERTE
.alert {
  @extend .section-light;

  background: $warningBg;
  color: $warningText;
  text-align: center;

  display: flex;
  flex-direction: column;
  padding: 5px;

  position: relative;

  h2 {
    // pour faire de la place au bouton
    margin-right: 1em;
  }
}

#alert-close {
  @extend .btn-round, .btn-warning;
  position: absolute;
  font-size: x-large;
  top: 0;
  right: 0;
}

// message d'erreur quand aucun résultat
.error {
  display: none;

  text-transform: none;
  text-align: center;
  font-weight: bold;

  a {
    display: block;
    color: black;
  }
}

// COLLAPSE
.plus,
.minus {
  cursor: pointer;
}

.collapse {
  padding-top: 10px;
  padding-bottom: 10px;

  &:not(.show) {
    display: none;
  }
}

// BOUTONS
.btn {
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 0.5em;
}

.btn-round {
  @extend .btn;
  display: inline-block;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

// INPUTS
input[type="date"],
input[type="time"] {
  width: 80%;
}

// DISPLAY

.mobile-hidden {
  display: none;

  @media (min-width: 500px) {
    display: initial;
  }
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}