.btn-light {
  background: linear-gradient(145deg, #fff5f9, #d6ced2);
  box-shadow: 5px 5px 8px #5f5c5d, -5px -5px 8px #ffffff;
}
.btn-light:hover, .btn-light:focus {
  background: linear-gradient(145deg, #d6ced2, #fff5f9);
}
.btn-light[disabled] {
  background: #5f5c5d;
  box-shadow: none;
}

.section-light {
  box-shadow: 5px 5px 8px #c3bcbf, -5px -5px 8px #ffffff;
}

.inset-light {
  box-shadow: inset 4px 4px 8px #cac3c6, inset -4px -4px 8px #ffffff;
}

.btn-dark {
  background: linear-gradient(145deg, #2e333e, #272b34);
  box-shadow: 5px 5px 8px #111317, -5px -5px 8px #454d5d;
}
.btn-dark:hover, .btn-dark:focus {
  background: linear-gradient(145deg, #272b34, #2e333e);
}

.section-dark, #map-container {
  color: white;
  background: #2b303a;
  box-shadow: 5px 5px 8px #242831, -5px -5px 8px #323843;
}

.btn-warning {
  background: linear-gradient(145deg, #e54e37, #c1422e);
  box-shadow: 5px 5px 8px #561d14, -5px -5px 8px #ff7552;
}
.btn-warning:hover, .btn-warning:focus {
  background: linear-gradient(145deg, #c1422e, #e54e37);
}

#passages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#passages > div {
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}

h4 {
  display: inline;
}

.light-badge {
  padding: 5px;
  background: white;
  border: 1px solid;
  border-radius: 5px;
  line-height: 2rem;
}

#horaires-title {
  justify-content: center;
  font-size: 1.25rem;
}
#horaires-title svg {
  height: 4rem;
}

.schema {
  align-self: center;
  position: relative;
  list-style-type: none;
  padding: 0;
}
.schema .bg {
  position: absolute;
  display: block;
  border-radius: 5px;
  border: 1px solid;
  width: 8px;
  top: 0;
  bottom: 0;
  left: 8px;
  z-index: 0;
}
.schema li {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;
}
.schema label {
  padding: 5px;
  border-radius: 5px;
}
.schema label:hover {
  box-shadow: 0px 0px 3px #2b303a;
}

.selected {
  background-color: #2b303a;
  color: white;
  box-shadow: 0px 0px 3px #2b303a;
  border-radius: 5px;
  padding: 5px;
}

.time-item::before {
  content: " - ";
}
.time-item:first-of-type::before {
  content: " ";
}

#reverse {
  font-size: 1.5rem;
}

#map-container {
  position: fixed;
  width: calc(100vw - 50px);
  height: calc(100vw - 50px);
  right: calc(50px - 100vw);
  top: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 1s ease-out;
}
@media (min-width: 700px) {
  #map-container {
    width: calc(100vh - 50px);
    height: calc(100vh - 50px);
    right: calc(50px - 100vh);
  }
  #map-container.minimized {
    width: calc(50vh);
    height: calc(50vh);
    right: calc(-50vh);
  }
}
#map-container.show {
  right: 0;
}
#map-container #controls {
  position: absolute;
  left: -40px;
  top: 35%;
  display: flex;
  flex-direction: column;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
  animation-direction: alternate;
}

@keyframes pulse {
  from {
    left: -40px;
  }
  to {
    left: -50px;
  }
}
#map {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
