.btn-light, nav a {
  background: linear-gradient(145deg, #fff5f9, #d6ced2);
  box-shadow: 5px 5px 8px #5f5c5d, -5px -5px 8px #ffffff;
}
.btn-light:hover, nav a:hover, .btn-light:focus, nav a:focus {
  background: linear-gradient(145deg, #d6ced2, #fff5f9);
}
.btn-light[disabled], nav a[disabled] {
  background: #5f5c5d;
  box-shadow: none;
}

.section-light, .alert, nav,
section {
  box-shadow: 5px 5px 8px #c3bcbf, -5px -5px 8px #ffffff;
}

.inset-light, section section {
  box-shadow: inset 4px 4px 8px #cac3c6, inset -4px -4px 8px #ffffff;
}

.btn-dark {
  background: linear-gradient(145deg, #2e333e, #272b34);
  box-shadow: 5px 5px 8px #111317, -5px -5px 8px #454d5d;
}
.btn-dark:hover, .btn-dark:focus {
  background: linear-gradient(145deg, #272b34, #2e333e);
}

.section-dark {
  color: white;
  background: #2b303a;
  box-shadow: 5px 5px 8px #242831, -5px -5px 8px #323843;
}

.btn-warning, #alert-close {
  background: linear-gradient(145deg, #e54e37, #c1422e);
  box-shadow: 5px 5px 8px #561d14, -5px -5px 8px #ff7552;
}
.btn-warning:hover, #alert-close:hover, .btn-warning:focus, #alert-close:focus {
  background: linear-gradient(145deg, #c1422e, #e54e37);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  min-height: 100vh;
  background: #eee5e9;
  color: #2b303a;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

main {
  width: 90%;
  margin-top: 20px;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  color: inherit;
}
a:visited {
  color: #7c7c7c;
}

h1,
h2,
h3 {
  text-align: center;
}

.long-badge {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-top: 4px;
  margin-bottom: 4px;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fav-section {
  text-align: left;
}

.icon {
  height: 1em;
  flex-shrink: 0;
}

#loading {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 45%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: none;
  }
  to {
    transform: rotate(-359deg);
  }
}
nav,
section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 90%;
}

nav a {
  font-size: 1.5rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

footer nav {
  width: 100%;
}

header nav {
  flex-direction: row;
}

section section {
  display: block;
}

.alert {
  background: #d64933;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
}
.alert h2 {
  margin-right: 1em;
}

#alert-close {
  position: absolute;
  font-size: x-large;
  top: 0;
  right: 0;
}

.error {
  display: none;
  text-transform: none;
  text-align: center;
  font-weight: bold;
}
.error a {
  display: block;
  color: black;
}

.plus,
.minus {
  cursor: pointer;
}

.collapse {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse:not(.show) {
  display: none;
}

.btn, .btn-round, nav a, #alert-close {
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 0.5em;
}

.btn-round, nav a, #alert-close {
  display: inline-block;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

input[type=date],
input[type=time] {
  width: 80%;
}

.mobile-hidden {
  display: none;
}
@media (min-width: 500px) {
  .mobile-hidden {
    display: initial;
  }
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}
